*{
  margin: 0;
  padding:0;
}
ul, li, a, h3, h2, h1, p{
  color: #fff;
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*top navigation*/
.logo{
  float: left;
  height: 85px;
  margin: 10px 0 0 15px;
    a {
    font-size: 24px;
    text-decoration:none;
    background-color:transparent;
    color: #fff;
    text-transform: uppercase;
  }
}
.logo >  a:hover,.logo >  a:focus {
    background-color:transparent;
    text-decoration:none;
    color: #fff;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    margin-top: 25px;
}

.navbar-custom .navbar-right > li > a:hover, .navbar-custom .navbar-right > li > a:focus,  {
    color: #CC6600;
    background-color:transparent;
}

button.navbar-toggle{
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #fff;
    .icon-bar{
      background-color: purple;
    }
}

a:link{
  color: red;
  background-color: transparent;
}

a:hover {
  color: black ;
  background-color: #def ;
}

.nav a{
  text-decoration: none;
  color: #CC9900;
}

div.transbox {
  padding: 5px;
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
  p {
    margin: 2%;
    font-weight: bold;
  }
  h3 {
    text-align: center;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .logo img {
    width:40px;
    height: 40px;
  }
  .logo a{
    font-size: 18px;
  }
}