*{
    margin:0;
    padding:0;
}
body  {
    background-image: url("../images/bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
/*top navigation*/
ul.topnav {
    list-style-type: none;
    margin: 0 150px 0 0;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {
    float: right;
}
ul.topnav li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover {
    color: blue;
}
/*content*/
div.transbox {
  margin: 50px 150px;
  background-color: #000000;
  opacity: 0.2;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #ffffff;
}
h3{
    font-size: 60px;
    text-align: center;
    color: #ffffff;
}

